@charset "UTF-8";
.section-top .section-top-left {
    width: 220px;
    border-radius: 4px;
    padding: 10px 0;
}
.section-top .section-top-left p {
    color: #a3a3a3;
}
.section-top .section-top-center {
    width: 600px;
}
.section-top .section-top-right {
    width: calc(100% - 852px);
}
.section-top .section-menu {
    display: flex;
    flex-wrap: wrap;
}
.section-top .section-menu img {
    width: 16px;
    height: 16px;
    -o-object-fit: contain;
    object-fit: contain;
}
.section-top .section-menu .img-icon {
    transition: 0.1s ease-in-out;
}
.section-top .section-menu .img-hover {
    position: absolute;
    left: 1rem;
    opacity: 0;
    transition: 0.1s ease-in-out;
}
.section-top .section-menu a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.section-top .section-menu a:hover {
    background: #00AEED;
    color: #fff;
}
.section-top .section-menu a:hover .img-icon {
    opacity: 0;
}
.section-top .section-menu a:hover .img-hover {
    opacity: 1;
}
.section-top .banner-carousel {
    border-radius: 4px;
    overflow: hidden;
}
.section-top .banner-carousel .owl-nav {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin: 0;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.section-top .banner-carousel .owl-nav .owl-prev,
.section-top .banner-carousel .owl-nav .owl-next {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    margin: 0;
    color: #fff;
    transition: 0.1s ease-in-out;
}
.section-top .banner-carousel .owl-nav .owl-prev:hover,
.section-top .banner-carousel .owl-nav .owl-next:hover {
    background: rgba(0, 0, 0, 0.24);
}
.section-top .banner-carousel .owl-dots {
    left: 0;
    position: absolute;
    width: 100%;
    bottom: 0.75rem;
}
.section-top .banner-carousel .owl-dots .owl-dot span {
    background: rgba(0, 0, 0, 0.24);
    width: 8px;
    height: 8px;
    margin: 0 0.25rem;
}
.section-top .banner-carousel .owl-dots .owl-dot.active span {
    background: #fff !important;
}
.section-top .section-icon {
    color: #a3a3a3;
    font-size: 13px;
    line-height: normal;
}
.section-top .section-user-banner {
    border-radius: 4px;
    overflow: hidden;
}
.section-top .section-user {
    border: 1px solid #fff;
    border-radius: 4px;
}
.section-top .section-user-top {
    background: #00aeef38;
    padding: 20px;
}
.section-top .section-user-top img {
    width: 54px;
    height: 54px;
    border-radius: 100%;
    border: 1px solid #fff;
}
.section-top .section-user-top .btn-guest {
    width: calc(100% - 0.5rem);
    background: transparent;
    border: 1px solid #00aeef;
    color: #00aeef;
    border-radius: 4px;
}
.section-top .section-user-top .btn-guest.btn-login {
    color: #fff;
    background: #00aeef;
}
.section-top .section-user-top .btn-guest.btn-logout {
    width: 80px;
    text-wrap: nowrap;
    border-color: #dedede;
    color: #a3a3a3;
}
.section-top .section-user-top .btn-guest:hover {
    border-color: #c23700;
    background: #c23700;
    color: #fff;
}
.section-top .section-user-top p:nth-child(1) {
    margin-bottom: 8px;
}
.section-top .section-user-top p:nth-child(2) {
    border-radius: 4px;
    padding: 4px 8px;
    background: #fff;
    width: -moz-fit-content;
    width: fit-content;
    color: #00aeef;
    font-size: 0.75rem;
    margin-bottom: 0;
}
.section-top .section-user-top p:nth-child(2).user-name {
    background: none;
    padding: 0;
    color: #3b3b3b;
}
.section-top .section-user-top .user-level {
    border-radius: 4px;
    color: #757575;
    height: 40px;
    padding: 4px !important;
    width: calc(100% - 80px - 0.5rem);
}
.section-top .section-user-top .user-level img {
    height: auto;
    width: auto;
}
.section-top .section-user-top .user-level .icon {
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    font-size: 11px;
    border-radius: 2px;
    gap: 6px;
    color: #fff;
    padding: 0 8px;
    line-height: normal;
}
.section-top .section-user-top .user-level .icon.icon-0 {
    background: linear-gradient(
        253deg,
        #917866 -19.37%,
        #d8d6bc 10.01%,
        #7c6455 38.29%,
        #987f6b 65.07%,
        #7c6455 81.43%,
        #7b6353 113.8%
    );
}
.section-top .section-user-top .user-level .icon.icon-1 {
    background: linear-gradient(
        254deg,
        #abb3c0 -12.91%,
        #dcdfe5 16.41%,
        #97a1ae 44.62%,
        #b3bac6 71.34%,
        #97a1ae 87.66%,
        #959fac 119.95%
    );
}
.section-top .section-user-top .user-level .icon.icon-2 {
    background: linear-gradient(
        254deg,
        #c59f43 -27.67%,
        #fcf4b6 3.83%,
        #b68828 34.15%,
        #d7ba6f 62.86%,
        #b2931f 80.41%,
        #ad7a1f 115.11%
    );
}
.section-top .section-user-top .user-level .icon.icon-3 {
    background: linear-gradient(
        254deg,
        #1cafb7 -21.74%,
        #3dd5e1 6.11%,
        #139697 32.91%,
        #1eb7c3 58.29%,
        #139697 73.8%,
        #139294 104.47%
    );
}
.section-top .section-user-center {
    padding: 10px 1.25rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    line-height: normal;
    font-size: 13px;
}
.section-top .section-user-center p {
    font-size: 20px;
}
.section-top .section-user-bottom {
    border-top: 1px solid #f4f4f4;
    padding: 10px 20px 30px;
    font-size: 13px;
}
.section-top .section-user-bottom .section-user-btn {
    margin-bottom: 4px;
    color: #666666;
}
.section-top .section-user-bottom .section-user-btn::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #00aeef;
    height: 2px;
    width: 0;
    transition: 0.2s ease-in-out;
}
.section-top .section-user-bottom .section-user-btn.active {
    color: #00aeef;
}
.section-top .section-user-bottom .section-user-btn.active::before {
    width: 24px;
}

.section-banner img {
    border-radius: 4px;
}

.section-sale-tiktok .section-item {
    border-radius: 4px;
    padding: 20px;
    width: calc((100% - 1rem) / 2);
}
.section-sale-tiktok .section-title {
    margin-bottom: 20px;
    font-size: 20px;
    color: #3b3b3b;
}
.section-sale-tiktok .section-title a {
    font-size: 14px;
    color: #757575;
}
.section-sale-tiktok .section-title a:hover {
    color: #00aeef;
}
.section-sale-tiktok .section-sale-owl {
    gap: 20px 15px;
}
.section-sale-tiktok .sale-item {
    width: calc((100% - 30px) / 3);
}
.section-sale-tiktok .sale-item .item-img {
    width: 100%;
    height: 174px;
    border: 2px solid #00aeef;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 4px;
    margin-bottom: 10px;
}
.section-sale-tiktok .sale-item .img-gift {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
}
.section-sale-tiktok .sale-item .img-wholesale {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
}
.section-sale-tiktok .sale-item .item-name {
    font-size: 16px;
    font-weight: 700;
    color: #00aeef;
    margin-bottom: 10px;
    line-height: normal;
}
.section-sale-tiktok .sale-item .item-name span {
    font-size: 14px;
    font-weight: 400;
}
.section-sale-tiktok .sale-item .item-name del {
    font-size: 12px;
    color: #757575;
    font-weight: 400;
}
.section-sale-tiktok .sale-item .progress {
    height: 20px;
    background: #f2c3b0;
    border-radius: 100px;
    margin: auto;
}
.section-sale-tiktok .sale-item .progress .progress-text {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    text-wrap: nowrap;
}
.section-sale-tiktok .sale-item .progress .progress-bar {
    background: linear-gradient(270deg, #06a3e480 0%, #00aeef 100%);
    border-radius: 100px;
    height: 20px;
}
.section-sale-tiktok .sale-item .img-hot {
    width: 21px;
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
    left: 5px;
    bottom: 8px;
}
.section-sale-tiktok .section-sale-owl-4 .sale-item {
    width: calc((100% - 15px) / 2);
}
.section-sale-tiktok .owl-nav {
    position: absolute;
    margin: 0;
    top: 50%;
    left: -18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 0;
    width: calc(100% + 36px);
    transform: translateY(-50%);
}
.section-sale-tiktok .owl-nav .owl-prev,
.section-sale-tiktok .owl-nav .owl-next {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    margin: 0;
    color: #000 !important;
    background: #fff !important;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}
.section-sale-tiktok .owl-nav .owl-prev svg,
.section-sale-tiktok .owl-nav .owl-next svg {
    width: 6px;
    height: auto;
    stroke-width: 4;
    transition: 0.3s ease-in-out;
}
.section-sale-tiktok .owl-nav .owl-prev:hover,
.section-sale-tiktok .owl-nav .owl-next:hover {
    color: #000 !important;
    background: #fff !important;
    transform: scale(1.2);
}
.section-sale-tiktok .owl-nav .owl-prev:hover svg,
.section-sale-tiktok .owl-nav .owl-next:hover svg {
    transform: scale(1.2);
}
.section-sale-tiktok .owl-nav .owl-prev.disabled,
.section-sale-tiktok .owl-nav .owl-next.disabled {
    opacity: 0;
    visibility: hidden;
}
.section-sale-tiktok .item-tiktok blockquote {
    margin: 0 !important;
}
.section-sale-tiktok .item-tiktok .owl-nav {
    width: 100%;
}
.section-sale-tiktok .owl-dots {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 8px;
    margin-top: 15px;
}
.section-sale-tiktok .owl-dots .owl-dot span {
    margin: 0;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #dedede;
}
.section-sale-tiktok .owl-dots .owl-dot.active span {
    background: #00aeef;
}

.section-slogan .section-item {
    border-radius: 0.25rem;
    padding: 0.75rem;
    width: calc((100% - 3rem) / 4);
}

.section-product {
    padding: 20px;
    border-radius: 4px;
}
.section-product .section-title {
    font-size: 20px;
}
.section-product .categories {
    color: #757575;
    margin-bottom: 20px;
}
.section-product .categories a {
    padding: 2px 8px;
    border: 1px solid #757575;
    border-radius: 4px;
    font-size: 13px;
}
.section-product .categories a:hover {
    color: #00aeef;
    border-color: #00aeef;
}
.section-product .categories .active {
    color: #fff;
    background: #00aeef;
    border-color: #00aeef;
}
.section-product .categories .active:hover {
    color: #fff;
}
.section-product .product-gap {
    gap: 15px;
}

.item-tiktok {
    width: 323px;
    border-radius: 12px;
    overflow: hidden;
}
.item-tiktok blockquote {
    margin: 0 !important;
}
.item-tiktok video {
    width: 323px;
    height: 574px;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 12px 12px 0 0;
    border: 1px solid rgba(22, 24, 35, 0);
    border-bottom: none;
}
.item-tiktok .item-main {
    border-radius: 0 0 12px 12px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-top: none;
    background: #fff;
}
.item-tiktok .item-main .item-more {
    padding: 6px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 15px;
    background-color: rgb(254, 44, 85);
}
.item-tiktok .item-main .item-more span {
    text-wrap: nowrap;
    border: 1px solid #fff;
    padding: 2.5px 30px;
    border-radius: 2px;
}
.item-tiktok .item-main .item-content {
    padding: 6px 12px;
    font-size: 15px;
    color: #000;
}
.item-tiktok .item-main .item-content p {
    margin-bottom: 4px;
}
.item-tiktok .item-main .item-content p:last-child {
    margin-bottom: 0;
}
.item-tiktok .item-products {
    padding: 12px;
}
.item-tiktok .item-products .item {
    display: grid;
    grid-template-columns: 90px auto;
    gap: 8px;
    padding: 8px;
    border: 1px solid #ebebeb;
    background: #fafafa;
    border-radius: 8px;
    line-height: normal;
    font-size: 14px;
}
.item-tiktok .item-products .item .item-img {
    width: 90px;
    height: 90px;
    -o-object-fit: contain;
    object-fit: contain;
}
.item-tiktok .item-products .item .item-info {
    display: flex;
    flex-wrap: wrap;
}
.item-tiktok .item-products .item .item-name {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 17px;
    -webkit-line-clamp: 2;
    height: 34px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.item-tiktok .item-products .item .item-old {
    font-size: 13px;
    color: #757575;
}
.item-tiktok .item-products .item .item-old span {
    font-size: 11px;
}
.item-tiktok .item-products .item .item-public {
    color: #00aeef;
    font-size: 16px;
    font-weight: 500;
}
.item-tiktok .item-products .item .item-public span {
    font-size: 11px;
    font-weight: 400;
}
.item-tiktok .item-products .item .item-sold-out {
    font-size: 12px;
    color: #757575;
}

.section-news {
    padding: 20px;
    border-radius: 4px;
}
.section-news .grid-news {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}
.section-news .grid-news a .item-image {
    height: 150px;
    margin-bottom: 12px;
    border-radius: 4px;
    overflow: hidden;
}
.section-news .grid-news a .item-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: 0.15s ease-in-out;
}
.section-news .grid-news a .item-name {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 17px;
    -webkit-line-clamp: 2;
    height: 34px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: #000;
    font-weight: 500;
}
.section-news .grid-news a:hover .item-image img {
    transform: scale(1.05);
}

@media (max-width: 960px) {
    .section-top {
        flex-direction: column;
    }
    .section-top .section-top-left {
        display: none;
    }
    .section-top .section-top-center {
        width: 100%;
    }
    .section-top .section-top-right {
        width: 100%;
    }
    .section-top .section-top-right .section-user-top p {
        font-size: 16px;
    }
    .section-top .section-top-right .section-user-bottom {
        padding-bottom: 40px;
    }
    .section-top .section-top-right .section-user-bottom .d-flex {
        justify-content: space-around;
    }
    .section-top .section-top-right .section-user-bottom .d-flex a {
        font-size: 15px;
        padding-bottom: 5px;
    }
    .section-top
        .section-top-right
        .section-user-bottom
        .d-flex
        .active::before {
        width: 100%;
    }
    .section-top .section-top-right .section-user-bottom .section-user-tab {
        top: 5px;
        font-size: 15px;
    }
    .section-top .section-top-right .section-user-banner {
        display: none;
    }
    .section-sale-tiktok {
        flex-direction: column;
    }
    .section-sale-tiktok .section-item {
        width: 100%;
    }
    .section-sale-tiktok .section-item .sale-item .item-img {
        height: calc((100vw - 100px) / 3) !important;
    }
    .section-product .categories a {
        font-size: 15px;
    }
    .section-product .product-gap {
        gap: 10px;
    }
    .section-product .product-gap .layout-product-item {
        width: calc((100% - 20px) / 3) !important;
    }
    .section-product .product-gap .layout-product-item img {
        height: calc((100vw - 96px) / 3) !important;
    }
    .section-slogan .section-item .text-uppercase {
        font-size: 12px;
    }
}
@media (max-width: 500px) {
    .section-icon {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
    }
    .section-sale-tiktok {
        flex-direction: column;
    }
    .section-sale-tiktok .section-item {
        width: 100%;
    }
    .section-sale-tiktok .section-item .sale-item {
        width: calc((100% - 15px) / 2) !important;
    }
    .section-sale-tiktok .section-item .sale-item .item-img {
        height: calc((100vw - 85px) / 2) !important;
    }
}
@media (max-width: 450px) {
    .section-sale-tiktok .sale-item {
        width: calc((100% - 15px) / 2);
    }
    .section-banner {
        flex-direction: column;
    }
    .section-product .product-gap .layout-product-item {
        width: calc((100% - 15px) / 2) !important;
    }
    .section-product .product-gap .layout-product-item img {
        height: calc((100vw - 89px) / 2) !important;
    }
    .section-slogan {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }
    .section-slogan .section-item {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
}
/**
css tết
*/
.section-sale-tiktok .section-sale .section-title {
    color: #fff;
}
.section-sale-tiktok .section-sale .section-title a {
    color: #fff;
}
.section-sale-tiktok .section-sale .section-title a:hover {
    color: #fff;
}
.section-sale-tiktok .sale-item {
    background: #fff;
    border-radius: 4px;
}
.section-sale-tiktok .sale-item .item-img {
    border: none;
}
.section-sale-tiktok .sale-item .item-name {
    padding: 0 8px;
}
.section-sale-tiktok .sale-item .item-progress {
    padding: 0 8px 8px;
}
.section-sale-tiktok .sale-item .item-image::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 30px;
    /* background: url("../images/icon-seller.svg") left no-repeat; */
    background-size: contain;
} /*# sourceMappingURL=default.css.map */
